# Data Cleaning

In [2]:
#Getting header libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns
import os
import warnings

warnings.filterwarnings("ignore")

In [4]:
#data cleaning
os.getcwd()

df1 = pd.read_csv('D:\Python Programming - 58600\Group Assignment\Walmart Data for 45 Stores\WALMART_SALES_DATA.csv')

df1.info()
# data info 
df1.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

<bound method DataFrame.info of       Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1  05-02-2010    1643690.90             0        42.31       2.572
1         1  12-02-2010    1641957.44             1        38.51       2.548
2         1  19-02-2010    1611968.17             0        39.93       2.514
3         1  26-02-2010    1409727.59             0        46.63       2.561
4         1  05-03-2010    1554806.68             0        46.50       2.625
...     ...         ...           ...           ...          ...         ...
6430     45  28-09-2012     713173.95             0        64.88       3.997
6431     45  05-10-2012     733455.07             0        64.89       3.985
6432     45  12-10-2012     734464.36             0        54.47       4.000
6433     45  19-10-2012     718125.53             0        56.47       3.969
6434     45  26-10-2012     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]>

In [5]:
df1.head()

df1.columns

df1.dtypes

# data view
df1.head(15)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
5,1,12-03-2010,1439541.59,0,57.79,2.667,211.380643,8.106
6,1,19-03-2010,1472515.79,0,54.58,2.720,211.215635,8.106
7,1,26-03-2010,1404429.92,0,51.45,2.732,211.018042,8.106
8,1,02-04-2010,1594968.28,0,62.27,2.719,210.820450,7.808
9,1,09-04-2010,1545418.53,0,65.86,2.770,210.622857,7.808
10,1,16-04-2010,1466058.28,0,66.32,2.808,210.488700,7.808
11,1,23-04-2010,1391256.12,0,64.84,2.795,210.439123,7.808
12,1,30-04-2010,1425100.71,0,67.41,2.780,210.389546,7.808
13,1,07-05-2010,1603955.12,0,72.55,2.835,210.339968,7.808
14,1,14-05-2010,1494251.50,0,74.78,2.854,210.337426,7.808

In [6]:
# checking for inconsistencies
for index, rows in df1.iterrows():
    if(rows['Fuel_Price'] == '' or 0):
        print(True)
    else:
        exit
print('Fuel Price Column has consistent Data')

for index, rows in df1.iterrows():
    if(rows['Holiday_Flag'] != 0 or rows['Holiday_Flag'] != 1):
        exit
    else:
        print(True)
print('Holiday Flag Column has consistent Data')

Fuel Price Column has consistent Data
Holiday Flag Column has consistent Data

In [7]:
#checking for inconsistencies in stores table
def check_range(df1, x, y):
    for index, rows in df1.iterrows():
        if(x <= rows['Store'] <= y):
            exit
        else:
            print(True)
    print('Store Column has consistent Data')

x = 1
y = 45
check_range(df1, x, y)

df1.info()

Store Column has consistent Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [9]:
#Changing date format 
df1 = df1.astype({'Date': 'datetime64[ns]'})

df1.info()


# get path 
os.getcwd()

df1.head(10)

df1['Store'].isna().count

df2 = pd.read_csv('D:\Python Programming - 58600\Group Assignment\Walmart Data for 45 Stores\stores.csv')

df2.head()
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 402.3 KB

    Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

In [10]:
# using merge to combine store and sales data
pd.merge(df1, df2, left_on = 'Store', right_on = 'Store', how = 'left')

df_main = pd.merge(df1, df2, left_on = 'Store', right_on = 'Store', how = 'left')

df_main.info()

df_main.head(15)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6435 entries, 0 to 6434
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
 8   Type          6435 non-null   object
 9   Size          6435 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 553.0+ KB

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106,A,151315
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106,A,151315
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,A,151315
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,A,151315
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106,A,151315
5,1,2010-12-03,1439541.59,0,57.79,2.667,211.380643,8.106,A,151315
6,1,2010-03-19,1472515.79,0,54.58,2.720,211.215635,8.106,A,151315
7,1,2010-03-26,1404429.92,0,51.45,2.732,211.018042,8.106,A,151315
8,1,2010-02-04,1594968.28,0,62.27,2.719,210.820450,7.808,A,151315
9,1,2010-09-04,1545418.53,0,65.86,2.770,210.622857,7.808,A,151315
10,1,2010-04-16,1466058.28,0,66.32,2.808,210.488700,7.808,A,151315
11,1,2010-04-23,1391256.12,0,64.84,2.795,210.439123,7.808,A,151315
12,1,2010-04-30,1425100.71,0,67.41,2.780,210.389546,7.808,A,151315
13,1,2010-07-05,1603955.12,0,72.55,2.835,210.339968,7.808,A,151315
14,1,2010-05-14,1494251.50,0,74.78,2.854,210.337426,7.808,A,151315

In [20]:
# download the final csv
df_main.to_csv('D:\Python Programming - 58600\Group Assignment\Walmart Data for 45 Stores\Walmart Sales and Stores.csv', index = False)

#features data
df3 = pd.read_csv(r'D:\Python Programming - 58600\Group Assignment\Walmart Data for 45 Stores\features.csv', 'r')
df3.info()
df3.head()

df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Sto                                      8190 non-null   object
 1   e,Date,Tempe                             0 non-null      float64
 2   atu                                      0 non-null      float64
 3   e F,Fuel_P                               0 non-null      float64
 4   ice F,Ma                                 0 non-null      float64
 5   kDown1,Ma                                0 non-null      float64
 6   kDown2,Ma                                0 non-null      float64
 7   kDown3,Ma                                0 non-null      float64
 8   kDown4,Ma                                0 non-null      float64
 9   kDown5,CPI F,Unemployment F,IsHoliday F  0 non-null      float64
dtypes: float64(9), object(1)
memory usage: 640.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6435 entries, 0 to 6434
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
 8   Type          6435 non-null   object
 9   Size          6435 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 553.0+ KB

In [24]:
# checking markdown data
#df3['KD'].isna()

df4 = pd.read_csv(r'D:\Python Programming - 58600\Group Assignment\Walmart Data for 45 Stores\features.csv', 'r', parse_dates = ['Date'])
df5 = pd.read_csv(r'D:\Python Programming - 58600\Group Assignment\Walmart Data for 45 Stores\Walmart Sales and Stores.csv', 'r', parse_dates = ['Date'])
df4.info()
df5.info()

# merge the features table with main dataset
df6 = pd.merge(df5, df4, left_on = ['Store', 'Date'], right_on = ['Store', 'Date'], how = 'inner')
df6.info()

df7 = pd.merge(df5, df4, left_on = ['Store', 'Date'], right_on = ['Store', 'Date'], how = 'left')
df7.head(10)

df7.info()

ValueError: Missing column provided to 'parse_dates': 'Date'

In [ ]:
#clean data to get markdown values and removing duplicate data
os.getcwd()

df_ma = pd.read_csv("Walmart Markdown Data.csv")

df_ma.head()

df_ma.head()

del df_ma['Temperature F']

del df_ma['CPI F']

del df_ma['Unemployment F']

del df_ma['IsHoliday F']

del df_ma['Fuel_Price F']

df_ma.head()

df_ma['MarkDown1'] = df_ma['MarkDown1'].replace(np.nan, 0)

df_ma.head()

df_ma['MarkDown2'] = df_ma['MarkDown2'].replace(np.nan, 0)
df_ma.head()

df_ma['MarkDown3'] = df_ma['MarkDown3'].replace(np.nan, 0)
df_ma.head()

df_ma['MarkDown4'] = df_ma['MarkDown4'].replace(np.nan, 0)
df_ma.head()

df_ma['MarkDown5'] = df_ma['MarkDown5'].replace(np.nan, 0)
df_ma.head()

df_ma.to_csv('Walmart Clean Data.csv') 
df_ma = df_ma.drop(columns=["Unnamed: 0"])

In [ ]:
df_ma.head()

In [ ]:
#specify working directory
df_main = pd.read_csv("Walmart Clean Data VF.xls", parse_dates = ['Date'])

In [ ]:
#load store level ddata
df = pd.read_csv("Walmart Clean Data VF.xls", parse_dates = ['Date']) 
Store_df = pd.read_csv("store_openings.csv")

df.head()
Store_df.head()
Store_df.info()

In [ ]:
Store_df2 = Store_df.drop(['date_super','conversion','type_store'],axis=1)
Store_df2.head()

In [ ]:
dfmain = pd.merge(df, Store_df2, left_on = 'Store', right_on = 'storenum', how = 'left')
dfmain.info()

In [ ]:
df_main = pd.read_csv("Walmart Clean Data VF.xls", parse_dates = ['Date'])
df_main.head()

In [ ]:
#working on data inconsistencies for store type
df_main['Type'] = np.where(df_main['Size'] == 34875, "C", df_main['Type'])
df_main['Type'] = np.where(df_main['Size'] == 37392, "C", df_main['Type'])
df_main['Type'] = np.where(df_main['Size'] == 39690, "C", df_main['Type'])
df_main['Type'] = np.where(df_main['Size'] == 39910, "C", df_main['Type'])

In [ ]:
df_main.head()

# Graphs and Analysis

In [ ]:
!pip install -U seaborn

In [ ]:
#type wise Facet grids for Weekly Sales Data vs Unempolyment
sns.set_style('white')
k = sns.FacetGrid(df_main, col = 'Type')
k.map(sns.histplot, 'Unemployment', 'Weekly_Sales')
k.set_xlabels('Unemployment Stats')
k.set_ylabels('Weekly Sales')

In [ ]:
# consumer price index vs weekly sales for 3 types of stores
sns.set_style('white')

k = sns.FacetGrid(df_main, col = 'Type')
k.map(sns.histplot, 'CPI', 'Weekly_Sales')
k.set_xlabels('Consumer Price Index')
k.set_ylabels('Weekly Sales')

In [ ]:
##holiday effect on Type of Stores Sales Wise.
sns.set_style('dark')         
intr = df_main.Date.unique()
k = sns.barplot(x = 'Type', y = 'Weekly_Sales', hue = 'Holiday_Flag', data = df_main, estimator = np.max)
k.set_xlabel('Type of Store')
k.set_ylabel('Weekly Sales')

In [ ]:
#confidence interval & error band width 
sns.set_style('dark')         
intr = df_main.Date.unique()
k = sns.barplot(x = 'Type', y = 'Weekly_Sales', hue = 'Holiday_Flag', data = df_main, ci = 99, 
                errcolor = 'Black', errwidth = 7 )
k.set_xlabel('Type of Store')
k.set_ylabel('Weekly Sales')

In [ ]:
# identifying the holidays and making marking 
holiday_sales = df_main
holiday_sales['Date'] = pd.to_datetime(holiday_sales['Date'])
conditions = [
    (holiday_sales['Date'].isin (['11-26-2010', '11-25-2011', '11-23-2012', '11-29-2013'])),
    (holiday_sales['Date'].isin (['12-31-2010', '12-30-2011', '12-28-2012', '12-27-2013'])),
    (holiday_sales['Date'].isin (['09-10-2010', '09-09-2011', '09-07-2012', '09-06-2013']))
]
values = ['ThanksGiving', 'Christmas', 'LaborDay']
holiday_sales['Holiday Name'] = np.select(conditions, values)
holiday_sales.loc[holiday_sales['Holiday Name'] == '0', ['Holiday Name']] = 'Uncategorized Holiday'
HS = holiday_sales.groupby(['Holiday Name', 'Date']).agg(mean_sales = ('Weekly_Sales', 'mean'))
HS = HS.reset_index()
sns.barplot(x = 'Holiday Name', y = 'mean_sales', data = HS)

In [ ]:
# correlation matrix 
select_columns = df_main[['Weekly_Sales', 'Temperature', 'CPI', 'Unemployment', 'Size', 'Fuel_Price']]
new_df = select_columns.copy()
plt.figure(figsize=(10,12), dpi= 80)
 
sns.heatmap(new_df.corr(), xticklabels=new_df.corr().columns, yticklabels=new_df.corr().columns, cmap='YlGnBu',
            center=0, annot=True, )
plt.title('Correlation Matrix for Parameters Affecting the Sales', fontsize=12)
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)
plt.show()

In [ ]:
#graph between unemployment and weekly sales
plt.hist2d(df_main['Unemployment'], df_main['Weekly_Sales'], bins=13, cmap='Blues', density = True)
cb = plt.colorbar()
cb.set_label('counts in bin')

In [ ]:
#graph for CPI vs Weekly_sales
plt.hist2d(df_main['CPI'], df_main['Weekly_Sales'], bins=10, cmap='Reds', density = True)
cb = plt.colorbar()
cb.set_label('counts in bin')

In [ ]:
#correlation matrix for markdowns of sales
allMarkDowns = df_main[['Weekly_Sales', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']]
df_markDW = allMarkDowns.copy()
plt.figure(figsize=(10,12), dpi= 80)
sns.heatmap(df_markDW.corr(), xticklabels=df_markDW.corr().columns, yticklabels=df_markDW.corr().columns, cmap='viridis',
            center=0, annot=True)
plt.title('Correlation Matrix for Markdowns Affecting the Sales', fontsize=12)
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)
plt.show()

In [ ]:
df_new = pd.read_csv("Walmart Clean Data VF.xls")
df_new = df_new.astype({'Date': 'datetime64[ns]'})
df_new['Year'] = pd.DatetimeIndex(df_new['Date']).year
df_new['Month'] = pd.DatetimeIndex(df_new['Date']).month

In [ ]:
# Plotting the difference between sales for Third and Fourth Quartile based on stores
q3_sales = df_new[(df_new['Date'] >= '2010-07-01') & (df_new['Date'] <= '2010-09-30')].groupby('Store')['Weekly_Sales'].sum()
q4_sales= df_new[(df_new['Date'] >= '2010-09-01') & (df_new['Date'] <= '2010-12-31')].groupby('Store')['Weekly_Sales'].sum()

plt.figure(figsize=(15,7))
q3_sales.plot(ax=q4_sales.plot(kind ='bar'),kind='bar',color='r',alpha=0.2,legend=True)
plt.legend(["Q4' 2010", "Q3' 2010"])
plt.ylabel('Weekly Sales')
plt.xlabel('Stores ')

In [ ]:
# Plotting the difference between sales for Third and Fourth based on unemployment
u1_sales = df_new[(df_new['Unemployment'] >= 3) & (df_new['Unemployment'] <= 8)].groupby('ZIPCODE')['Weekly_Sales'].sum()
u2_sales= df_new[(df_new['Unemployment'] > 8) & (df_new['Unemployment'] <= 14)].groupby('ZIPCODE')['Weekly_Sales'].sum()


plt.figure(figsize=(15,7))
u2_sales.plot(ax=u1_sales.plot(kind ='bar'),kind='bar',color='y',alpha=0.2,legend=True)
plt.legend(["Unemployment Range - > 3 - 8", "Unemployment Range -> 9 - 14"])
plt.ylabel('Weekly Sales')
plt.xlabel('Zip Codes')
plt.show()

In [ ]:
# ploting Markdowns with Sales for different states
df_new['MarkDownsTotal'] = df_new.iloc[:, 10:14].sum(axis=1)
m1_sales = df_new[(df_new['MarkDownsTotal'] >= 0 ) & (df_new['MarkDownsTotal'] <= 50000)].groupby('STRSTATE')['Weekly_Sales'].sum()
m2_sales = df_new[(df_new['MarkDownsTotal'] > 50000 ) & (df_new['MarkDownsTotal'] <= 100000)].groupby('STRSTATE')['Weekly_Sales'].sum()
m3_sales = df_new[(df_new['MarkDownsTotal'] > 100000 ) & (df_new['MarkDownsTotal'] <= 155000)].groupby('STRSTATE')['Weekly_Sales'].sum()

plt.figure(figsize=(15,7))
m2_sales.plot(ax = m3_sales.plot(kind='bar'), kind = 'bar', color='b',alpha=0.2,legend=True)
plt.legend(["Total Mark Downs - > 50k to 100k", "Total Mark Downs -> 100k to 155k Dollars"])
plt.ylabel('Weekly Sales')
plt.xlabel('States')
plt.show()

In [ ]:
df = pd.read_csv("Walmart Clean Data.xls",parse_dates=['Date'])
df.head()

In [ ]:
#weekly sales
figure(figsize=(20, 6), dpi=80)
Week = df.groupby('Date')
weekly = Week.agg({"Weekly_Sales":"sum"})
weekly.head()
weekly =weekly.reset_index()
weekly.head()
plt.plot(weekly.Date,weekly.Weekly_Sales,color='c')
plt.xlabel('Date')
plt.ylabel('Weekly Sales')
plt.show()

In [ ]:
# impact of holidays
df["Holiday"] = np.where(df['Holiday_Flag']== 1, "Yes", "No")
figure(figsize=(20, 6), dpi=80)
ay = sns.boxplot(x=df["Weekly_Sales"],y=df["Holiday"],  palette='bright')

In [ ]:
# creating store type level dataframe
md_storeA = df[df["Type"]=="A"]
md_storeA.shape
md_storeB = df[df["Type"]=="B"]
md_storeB.shape
md_storeC = df[df["Type"]=="C"]
md_storeC.shape

In [ ]:
plt.scatter(x=(md_storeA['Type']),y=(md_storeA["Weekly_Sales"]),c='red')
plt.scatter(x=(md_storeB['Type']),y=(md_storeB["Weekly_Sales"]),c='blue')
plt.scatter(x=(md_storeC['Type']),y=(md_storeC["Weekly_Sales"]),c='green')

plt.xlabel('Store Type')
plt.ylabel('Weekly Sales')

In [ ]:
#distribution of weekly sales
sns.FacetGrid(df, col = 'Type', row = 'Holiday').map(sns.distplot, 'Weekly_Sales')

In [ ]:
# impact of unemployment on weekly sales of stores 
figure(figsize=(20, 6), dpi=80)
plt.scatter(x=(md_storeA['Unemployment']),y=(md_storeA["Weekly_Sales"]),c='red')
plt.scatter(x=(md_storeB['Unemployment']),y=(md_storeB["Weekly_Sales"]),c='blue')
plt.scatter(x=(md_storeC['Unemployment']),y=(md_storeC["Weekly_Sales"]),c='green')

plt.xlabel('Unemployment')
plt.ylabel('Weekly_Sales')
plt.legend('ABC')

In [ ]:
# impact of temperature on weekly sales of stores
figure(figsize=(30, 6), dpi=80)
plt.scatter(x=(md_storeA['Weekly_Sales']),y=(md_storeA["Temperature"]),c='c')
plt.scatter(x=(md_storeB['Weekly_Sales']),y=(md_storeB["Temperature"]),c='m')
plt.scatter(x=(md_storeC['Weekly_Sales']),y=(md_storeC["Temperature"]),c='y')

plt.xlabel('Weekly_Sales')
plt.ylabel('Temperature')
plt.legend('ABC')

In [ ]:
#store level sales
figure(figsize=(20, 6), dpi=80)
sns.scatterplot(data=df, x=df["Store"], y=df["Weekly_Sales"],color ="c")

In [ ]:
#impact of temperature on store level sales
figure(figsize=(20, 6), dpi=80)
sns.scatterplot(data=df, x=df["Store"], y=df["Weekly_Sales"],hue = df["Temperature"])

In [ ]:
#creating dataframes based on stores
df_A = df[df["Type"]=="A"]
df_B = df[df["Type"]=="B"]
df_C = df[df["Type"]=="C"]
df_A.shape
df_B.shape
df_C.shape

In [ ]:
#store type vs weekly sales
plt.scatter(x=(df_A['Type']),y=(df_A["Weekly_Sales"]),c='red')
plt.scatter(x=(df_B['Type']),y=(df_B["Weekly_Sales"]),c='blue')
plt.scatter(x=(df_C['Type']),y=(df_C["Weekly_Sales"]),c='green')

plt.xlabel('Store Type')
plt.ylabel('Weekly Sales')

In [ ]:
# impact of temperature on weekly sales of stores
figure(figsize=(30, 6), dpi=80)
plt.scatter(x=(md_storeA['Temperature']),y=(md_storeA["Weekly_Sales"]),c='c')
plt.scatter(x=(md_storeB['Temperature']),y=(md_storeB["Weekly_Sales"]),c='m')
plt.scatter(x=(md_storeC['Temperature']),y=(md_storeC["Weekly_Sales"]),c='y')

plt.xlabel('Temperature')
plt.ylabel('Weekly_Sales')
plt.legend('ABC')

In [ ]:
# relation of size to sales
figure(figsize=(20, 6), dpi=80)
plt.scatter(x=(md_storeA['Size']),y=(md_storeA["Weekly_Sales"]),c='red')
plt.scatter(x=(md_storeB['Size']),y=(md_storeB["Weekly_Sales"]),c='blue')
plt.scatter(x=(md_storeC['Size']),y=(md_storeC["Weekly_Sales"]),c='green')

plt.xlabel('Size')
plt.ylabel('Weekly_Sales')
plt.legend('ABC')

# Modelling

**Regression Model OLS**

In [ ]:
import statsmodels.api as sm
X = df_new[['Store', 'Holiday_Flag', 'Temperature', 
            'Fuel_Price', 'CPI', 'Unemployment', 'Size', 'MarkDownsTotal']]
Y = df_new['Weekly_Sales']

X = sm.add_constant(X)

model = sm.OLS(Y.astype(float), X.astype(float)).fit()
predictions = model.predict(X)

print_model = model.summary()
print(print_model)

In [ ]:
X = df_new[['Store', 'Holiday_Flag', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 'Size', 'MarkDownsTotal']]
Y = df_new['Weekly_Sales']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, random_state = 0)
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
y_pred = regressor.predict(X_test)
pr_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
pr_df
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Variance score: {}'.format(regressor.score(X_test, y_test)))
print('R2 Score : ', metrics.r2_score(y_test, y_pred))

**Random Forest**

In [ ]:

x = df_new.iloc[:, [0, 3, 4, 5, 6, 7, 20]].values 
y = df_new.iloc[:, 2].values 


from sklearn.ensemble import RandomForestRegressor

#  # create regressor object
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state = 0)
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)

# # fit the regressor with x and y data
regressor.fit(X_train, y_train)
Y_pred = regressor.predict(np.array(X_test))

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, Y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, Y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, Y_pred)))
print('Variance score: {}'.format(regressor.score(X_test, y_test)))
print('R^2 score : ', metrics.r2_score(y_test, Y_pred))

plt.figure(figsize=(10,10))
plt.scatter(y_test, Y_pred, c='crimson')
plt.yscale('log')
plt.xscale('log')

p1 = max(max(Y_pred), max(y_test))
p2 = min(min(Y_pred), min(y_test))
plt.plot([p1, p2], [p1, p2], 'b-')
plt.xlabel('True Values', fontsize=15)
plt.ylabel('Predictions', fontsize=15)
plt.axis('equal')
plt.show()

In [ ]:
#Regression plot for Markdown Total values
df_new['MarkDownsTotal'] = df_new.iloc[:, 10:14].sum(axis=1)
plt.figure()
sns.regplot(y = 'Weekly_Sales', x = 'MarkDownsTotal', data = df_new, order = 2, ci = 95)
plt.show()

In [ ]:
#Regression plot for Markdown Total values
df_new = pd.read_csv("Walmart Clean Data VF.xls")
df_new = df_new.astype({'Date': 'datetime64[ns]'})
df_new['MarkDownsTotal'] = df_new.iloc[:, 10:14].sum(axis=1)
plt.figure()
sns.lmplot(y = 'Weekly_Sales', x = 'MarkDownsTotal', data = df_new, hue = 'Type', order = 2, ci = 95)
plt.show()

**Light gradient Boosting Machine**

In [ ]:
# Importing Required Library
import pandas as pd
import lightgbm as lgb
  
# Similarly LGBMRegressor can also be imported for a regression model.
from lightgbm import LGBMClassifier

# clean data
df = df_ma
df_new = df.drop(columns=["Date","Type","Store"])
df_new.head()

# Dummification of sales Column 
df_new['Weekly_Sales']= pd.get_dummies(df['Weekly_Sales'])

train = df_new[0:4000]
test = df_new[4000:6435]
  
# Separating the independent and target variable on both data set
x_train = train.drop(columns =['Weekly_Sales'], axis = 1)
y_train = train['Weekly_Sales']
x_test = test.drop(columns =['Weekly_Sales'], axis = 1)
y_test = test['Weekly_Sales']

# Creating an object for model and fitting it on training data set 
model = lgb.LGBMClassifier()
model.fit(x_train, y_train)

# Predicting the Target variable
pred = model.fit(x_test,y_test)
print(pred)
accuracy = model.score(x_test, y_test)
print("The R squared value of the model is",accuracy)